body{
  background-image: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container{
  display: flex;
  flex-direction: column;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
nav{
  display: block;
}
nav ul{
  display:flex;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 50px;
  text-align: right;
}
nav a{
  display: block;
  text-decoration: none;
  padding: 0.8em 1em;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
}
nav a:hover{
  background-color: red;
  font-size: 23px;
}
.menu-icon{
  display: none;
  justify-content: flex-end;
  font-size: 2em;
  cursor: pointer;
  line-height: 60px;
  padding-right: 10px;
  color: #fff;
}
#select{
  margin-top: 18%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 220px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #262626;
  letter-spacing: 6px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  border-radius: 60px;
  border: 4px solid #000;
  box-shadow: inset 0 0 30px rgba(0,0,0,1);
  overflow: hidden;
}
#result{
  margin-top: 20%;
  color: red;
}
.footer{
  font-family: 'Oswald', sans-serif;
  margin-top: 14%;
  text-align: center;
  color: 
}
#result{
  margin-top: 15%;
  text-align: center;
  font-family: 'Anton', sans-serif;
}
@media screen and (max-width:1024px){    
.sticky{
  position: static;
  width: 100%;
}
nav ul{
  display: none;
  flex-direction: column;
}
section p{
  column-count: 1;
}
.menu-icon{
  display: flex;
}
nav:hover ul{
  display: flex;
}
nav:active ul{
  display: flex;
}
.button5{
  margin-top: 4%;
}
#result{
  margin-top: 2%;
}
